
.cmpForm
{
    display: grid;
    background-color: var(--bg-fondo);
    align-items: center;
    margin:  0 auto;
    height:90vh;
}

.cmpForm form
{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 1% 2% ;
}
