
.cmpForm
{
    display: grid;
    background-color: var(--bg-fondo);
    background-image: var(--bg-img);
    align-items: center;
    margin:  0 auto;
    height:100vh;
}

.cmpForm form
{
    width:25%;
    margin: 0 auto;
padding: 1rem 1rem;
box-sizing: border-box;
}


  @media screen and (max-width:1000px) {

    .cmpForm form {
            width: 80%;
            max-width: 100%;
            margin: 0 auto;
        
        }
  }